body{
    text-align: center;
}
table{width: 60%;
    margin: auto;
    font-size: 1.5em;
}
table tr:nth-child(odd){
    color: hotpink;
    background-color: aqua;
}
table tr:nth-child(even){
     color: aqua;
     background-color: hotpink;
}
td{
    border-bottom: 1 px solid blue;
}
